@import '../../../styles/breakpoints';
@import '../../../styles/colors';

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;

  @media screen and (min-width: $breakpoint-l) {
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }
}

.header__icon {
  color: $blue-500;
}

.header__link {
  font-family: 'Roboto', sans-serif;
  border-bottom: 0.125rem solid transparent;
  color: $blue-500;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;

  @media screen and (min-width: $breakpoint-l) {
    margin-bottom: none;
  }

  &:hover {
    border-bottom-color: $blue-500;
  }
}

.menu, a {
  margin-right: 1rem;
}