<section class="section">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ project.Title }}</mat-card-title>
      <mat-card-subtitle>{{ project.SubTitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="project.ImgSrc" [alt]="project.ImgAlt">
    <mat-card-content>
      <p>{{ project.Description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="visitSite(project.GithubLink)">Github</button>
      <button mat-stroked-button color="primary" (click)="visitSite(project.SiteLink)">Site</button>
    </mat-card-actions>
  </mat-card>
</section>
