$blue-50: #e6e8f0;
$blue-100: #c1c5d8;
$blue-200: #979ebf;
$blue-300: #6d77a5;
$blue-400: #4e5991;
$blue-500: #2f3c7e;
$blue-600: #2a3676;
$blue-700: #232e6b;
$blue-800: #1d2761;
$blue-900: #121a4e;
$blue-a100: #8895ff;
$blue-a200: #5568ff;
$blue-a400: #223bff;
$blue-a700: #0824ff;
$pink-50: #fef8f9;
$pink-100: #fdeef0;
$pink-200: #fbe2e6;
$pink-300: #f9d6db;
$pink-400: #f8ced4;
$pink-500: #f7c5cc;
$pink-600: #f6bfc7;
$pink-700: #f5b8c0;
$pink-800: #f3b0b9;
$pink-900: #f1a3ad;
$pink-a100: #ffffff;
$pink-a200: #ffffff;
$pink-a400: #ffffff;
$pink-a700: #ffffff;
$orange-50: #fdf8e6;
$orange-100: #fbedc2;
$orange-200: #f8e199;
$orange-300: #f5d470;
$orange-400: #f3cb51;
$orange-500: #f1c232;
$orange-600: #efbc2d;
$orange-700: #edb426;
$orange-800: #ebac1f;
$orange-900: #e79f13;
$orange-a100: #ffffff;
$orange-a200: #fff4e2;
$orange-a400: #ffe2af;
$orange-a700: #ffd896;
$beige: #FBEAE0;
$dark-gray: #545454;
$white: #ffffff;
$black: #000000;