@import '../../../styles/breakpoints';
@import '../../../styles/colors';

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3.5rem;
  margin: 0;
}

.hero {
  max-width: 75%;
  margin: 0 auto;
  padding: 280px 6em 280px;

  p {
    word-spacing: .25rem;
  }

  @media screen and (min-width: $breakpoint-m) {
    display: flex;
    align-items: center;
    justify-content: center;

    .hero__text {
      max-width: 60%;
      margin-right: 3rem;
    }
  }
}

.hero__icon {
  text-align: center;
  padding: 2rem;

  mat-icon {
    transform: scale(2);
  }

  @media screen and (min-width: $breakpoint-m) {
    padding: 0;
  }
}

.hero__link {
  text-decoration: none;
  position: relative;
  color: $black;
}

.hero__link::before {
  content: '';
  background-color: $pink-500;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: .5rem;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.hero__link:hover::before {
  bottom: 0;
  height: 100%;
}
