<section class="hero">
  <div class="hero__text">
    <h1>Hi, I'm Lin-z Chang.</h1>
    <p>I'm a Software Engineer specializing in building web applications that provide a great digital experience for clients.  Currently, I'm focused on building products centered around Privacy and Communications at <a class="hero__link" href="https://www.rocketcompanies.com/">Rocket Companies</a>.</p>
  </div>
  <div class="hero__icon">
    <mat-icon aria-hidden="false" aria-label="Waving hand saying hello">waving_hand</mat-icon>
  </div>
</section>
