@import '../../../styles/breakpoints';
@import '../../../styles/colors';

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3.5rem;
  margin: 0;
}

.hero {
  max-width: 75%;
  margin: 0 auto;
  padding: 140px 6em 270px;

  p {
    word-spacing: .25rem;
  }

  @media screen and (min-width: $breakpoint-m) {
    display: flex;
    align-items: center;
    justify-content: center;

    .hero__text {
      max-width: 60%;
      margin-right: 3rem;
    }
  }
}

.hero__icon {
  text-align: center;
  padding: 2rem;

  mat-icon {
    transform: scale(2);
  }

  @media screen and (min-width: $breakpoint-m) {
    padding: 0;
  }
}

.hero__link {
  color: $blue-500;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 $blue-500;
  color: $blue-500;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: inset 200px 0 0 0 $blue-500;
    color: $beige;
  }
}
